<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ai-data board</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <!-- bxSlider용 라이브러리 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(function () {
            //bxSlider 설정
            $(".slider").bxSlider({
                auto: false, //자동 순환
                slideWidth: 600,   //슬라이더 가로 길이.
            });

            //메시지 출력
            let m = null;
            if(m != null){
                alert(m);
            }
        });
    </script>
</head>
<body>
<header>
    <th:block th:insert="~{fragments::header(${session.user})}"/>
</header>
<section>
    <div class="cView">
        <div class="c-dak">
                <img src="images/sungdak.png" alt="성원닭갈비">
                <h1>성원닭갈비 <span style="color: #005224; font-size: 20px">(4.1)</span></h1>
                <div class="stats" style="font-size: small">
                    <div>조회 수: 100 회</div>
                    <div>예약: 50 회</div>
                    <div>찜: 80 회</div>
                </div>
                <div class="p-number">010-7793-2058</div>
                <div class="best">대표메뉴</div>
                <img src="images/dak.jpg" alt="대표메뉴">
            <div class="slider">
                <div><img src="images/dak.jpg"></div>
                <div><img src="images/sungdak.png"></div>
            </div>
        </div>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
</html>