<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodayIdo</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <th:block th:insert="~{fragments::header(${session.user})}"/>
</header>
<section>
    <div class="content">
        <form th:action="@{loginProc}" method="post" class="login-form">
            <h2 class="login-header">비밀번호찾기</h2>
            <input type="text" class="login-input" name="m_id" autofocus required placeholder="아이디">
            <input type="text" class="login-input" name="m_phone" required placeholder="전화번호">
            <input type="button" class="login-btn" value="비밀번호찾기">
            <div class="join"><a th:href="@{findId}">아이디찾기</a></div>
        </form>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
</html>